
// The variables For All Page  =>  " PageOne and PageTwo "
$--colorDefaultBlack         : rgb(0, 0, 0);
$--ColorBlog                 : #FFFF;
$--colorInput                : #F4F4F4;
$--colorSecondaryInput       : #3F4353;
$--colorsBtns                : #74D414;
$--colorText                 : rgb(117, 117, 117);
$--colorBorderHeader         : rgb(102, 102, 102);
$--colorInputText            : #3F4353;
$--colorCatch                : rgb(218, 217, 217);
$ColorForm                   : #282828;
$colorSidebarItem            : rgba(29, 29, 29, 0.658);
$ColorHeaderDashboard        : #e0e0e0;
$ColorBackgroundDashboard    : #F4F4F4;
$ColorRed                    : red;
// Functional variables , Height of all Pages
$height                      : 100%;
// Functional variables , For All Pages Opacity For Buttons, Links, etc...
$opacity                     : .90;

