



.FormConnexion {
    @include flex();
    color: $ColorHeaderDashboard;
    width: $height;
    height: $height;

    @media (max-width: 1200px) {
        font-size: calc(0vw + 1.52em);
    }

    @media (max-width: 700px) {
        font-size: calc(0vw + 2.65em);
    }

    @media (max-width: 500px) {
        font-size: calc(0vw + 3em);
    }

    @media (max-width: 380px) {
        font-size: calc(0vw + 3.30em);
    }

    &__right {
        position: relative;
        padding: 1.2em;
        border-radius: 1.5em; 
        max-width: 32em!important;
        height: 23em;
        background-color: $ColorForm;
        z-index: 50;
 
        &::before {// Image Mobile 
            content: "";
            position: absolute;
            bottom: -5em;
            left: -25em;
            width:50%;
            height:50%;
            z-index: 1;
            background: transparent url('/img/imageMobilePhone.svg') no-repeat center center / contain; 
        }
 
        @media (max-width: 700px) {// Tablet
 
             &::before {//Image Mobile
                display: none;
             }
        }

        @media (max-width: 500px) {// MOBILE ***
            height: 24em;
        }

        @media (max-width: 400px) {
            padding-top: 2.65em;
        }
     }
     
     &__blog__preview__title {
        @include reset();
        margin-bottom: 1em; 
        font-size: 1.625em;
        font-weight: 500;
     }
     
     &__blog__preview {
        display: flex;
        flex-direction: column;
     }
     
     &__blog__preview__input {
         @include resetInput();
         margin-bottom: 1.65em;
         padding: .90em .85em;
         border-radius: .5em;
         color: $--colorInput;
         background-color:#393939;
         width: 95.30%;
 
         > &::placeholder {
             color: $--colorBorderHeader;
             transition: transform .5s ease-in-out;
         }
 
         &:focus::placeholder {
             transform: translate(-100%);

             @media (max-width: 400px) {
                transform: none;
             }
         }
     }
 
     &__blog__preview__reset__password {
         margin-bottom: 2em;
         @include resetInput();                  
         display: inline-block;
         color: inherit;
         transition: opacity .3s linear;
         max-width: 26%;
 
         > &:hover {
             opacity: .50;
         }
 
         @media (max-width: 500px ) {//MOBILE ***
             max-width: 32%;
         }
     }
 
     &__blog__preview__button__submit {
         margin-bottom: 1.90em;
         @include btn();
         padding: 1.1em 0;
 
         > &:hover {
             opacity: $opacity;
         }
     }
 
     &__blog__preview__confidentiality {
         font-size: 0.875em;
     }
 
     &__blog__preview__link__confidentiality {
         @include resetInput();          
         color: $--colorsBtns;
         transition: opacity .3s linear;
 
         > &:hover {
             opacity: $opacity;
         }
     }
 
     &__Desktop__Design  {
         @media (min-width: 701px) {
             display: none;
         }
 
         @media (max-width: 700px) {
             position: relative;
             width: 70.50%;
             height: 30em;
             transform: translateX(-18%);
             background: transparent url('/img/imageDesktop.svg') no-repeat 68% 55%/ contain;
 
             &::before {
                 content:"";
                 position: absolute;
                 bottom: -4em;
                 left: -6em;
                 width:50%;
                 height:50%;
                 z-index: 1;
                 background: transparent url('/img/imageMobilePhone.svg') no-repeat center center / contain; 
             }
         }
 
         @media (max-width: 500px) {// MOBILE ***
             transform: translateX(-9.20%);
 
             &::before {
                 left: -3.20em;
                 bottom: 1em;
                 width: 30%;
                 height: 30%;
             }
         }
     }
}